<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:object="${fox}">
<header>
    <div><a th:href="@{/?name=}+*{name}">Information </a> </div>
    <div><a th:href="@{/nutritionStore?name=}+*{name}">Nutrition </a></div>
    <div><a th:href="@{/trickCenter?name=}+*{name}">Trick Center </a></div>
</header>
<img src="/greenfox.png">
<div>
    <div th:if="*{name =='Mr. Green'}" th:text="|This is *{name}. Currently living on salad and water. He knows 0 tricks.|"></div>
    <div th:unless="*{name =='Mr. Green'}" th:text="|This is *{name}. Currently living on *{food} and *{drink}. He knows *{tricks.size()} tricks.|"></div>
<h3>Known tricks</h3>
    <div th:if="*{tricks.isEmpty()}" th:text="'You know no tricks, yet. Go and learn some'"></div>
    <div th:unless="*{tricks.isEmpty()}">
        <ul>
            <li th:each="trick : *{tricks}" th:text="${trick}"/>
        </ul>
    </div>

</div>
</body>
</html>