<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styleForm.css">
    <title>Login Form</title>
</head>
<body>
    <form autocomplete="off">
        <p id="login"> ACCOUNT LOGIN</p>
        <label>USERNAME:</label>
        <div>
            <input type="text" id="username" name="username" autofocus required pattern=".{5,}" title="Five or more characters"/>
        </div>
        <label>PASSWORD:</label>
        <div>
            <input type="password" id="password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" />
        </div>
        <div id="forgot">
            <p>Forgot Password?</p>
        </div>
        <div>
            <input type="submit" id="button" value ="Login"/>
        </div>
    </form>

</body>
</html>