<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Reddit</title>
</head>
<body>
<div class="container">
    </br>
    <div>
        <a class="btn btn-primary btn-warning text-center" th:href="@{/reddit/addPost}"
           th:text="'Add new post'"></a>
        <a class="btn btn-primary btn-warning text-center" th:href="@{/reddit/all}"
           th:text="'All posts'"></a>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"><a th:href="@{/reddit}">Trending posts</a></h2>
        </div>
    </div>
    <!--    </br>
        <div>
            <a class="btn btn-primary btn-warning text-center" th:href="@{/todo/add}" th:text="'Add new todo'"></a>
            <a class="btn btn-info" th:href="@{/todo/list?isActive=true}" th:text="'Active tasks'"> </a>
            <a class="btn btn-success" th:href="@{/todo/assignee}" th:text="'List of Assignees'"> </a>
        </div>
        </br>
        <form method="get" th:action="@{/todo/list}">
            <input type="search" name="search" placeholder="Search"/>
            <input type="submit" class="btn btn-success" value="Submit"/>
        </form>-->
    </br>
    <table class="table table-borderless">
        <tbody>
        <tr th:each="p : ${posts}">
            <td id="likes" th:text="${p.getLikes()}"></td>
            <td id="like"><a th:href="@{'/reddit/' +${p.getId()} + '/up'}"><i class="glyphicon glyphicon-thumbs-up"></i></a>
            </td>
            <td id="dislike"><a th:href="@{/'reddit/' +${p.getId()} + '/down'}"><i
                    class="glyphicon glyphicon-thumbs-down"></i></a></td>
            <td id="title" th:if="${p.getUrl()== null}"><a th:text="${p.getTitle()}"
                                                           th:href="@{'reddit/' +${p.getId()}}"/></td>
            <td th:unless="${p.getUrl()== null}"><a th:text="${p.getTitle()}" th:href="@{${p.getUrl()}}"/></td>
            <td th:text="${#dates.format(p.getCreatedAt(), 'dd/MM/yyyy HH:mm:ss')}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</div>
</body>
</html>